<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Darshan Sanghani</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P|Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Libraries: -->
    <script src="js/lib/jquery-1.7.2.min.js"></script>
	<script src="js/lib/underscore-1.3.2.min.js"></script>
    <script src="js/lib/backbone-0.9.2.min.js"></script>
    <script src="js/lib/date.min.js"></script>
    <link href="twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href='twitter-bootstrap-v2/docs/assets/css/bootstrap-responsive.css' rel='stylesheet'>



  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <ul class="nav">
            <li class="active">
              <a class="brand" href="/"><strong>darshan</strong>sanghani</a>
            </li>
          </ul>
          <ul class='nav pull-right'>
            <li>
              <a target='_blank' href='http://dtx4.tumblr.com'>blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class='container-fluid'>
      <div class='row-fluid'>
        <div class='span3'>
          <p id='aboutmeContainer'>
          </p>
          <p id='menuContainer'>
          </p>
        </div>
        <div class='span7'>
          <div class='hero-unit'>
            <div class="alert" id='projectsAlert'>
              <button class="close" data-dismiss="alert">×</button>
              <strong>Please wait...</strong> getting my projects from GitHub, this <em>might</em> take a few seconds, but only happens once.
            </div>
            <p id='midText'></p>
          </div>
        </div>
          <div class='span2'>
            <code>github handle: <a href='http://www.github.com/dtx'<span class='label label-info'>dtx</span></a></code>
            <hr class = 'seperator'>
            <code>IRC handle: <span class="label label-success">retrobaby</span></code>
            <hr class = 'seperator'>
            <div id='projectsHelper'>
              <code>Projects language color scheme:</code><br>
              <span class="label label-info">JavaScript</span> </span>
              <span class="label label-inverse">Objective-C</span> </span>
              <span class="label label-important">C++</span> </span>
              <span class="label label-success">Python</span> </span>
              <span class="label label-warning">Others</span> </span>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class='footer'>
        <p id='footerText'>&copy; Darshan Sanghani. This responsive website is built on <a target='_blank' href='http://www.backbonejs.org'>backbone.js</a>, <a target='_blank'href='http://www.underscorejs.org'>underscore.js</a>, <a target='_blank' href='http://twitter.github.com/bootstrap'>twitter-bootstrap</a>, on a good weeekend with an espresso.</p>
      </div>
    </div>

   <script type='text/template' id='aboutMeTemplate'>
      <ul class='unstyled'>
      <li style="font-size:18px"><strong><%=work%></strong></li>
        <li style="font-size:16px"><%=about%></li>
      </ul>
    </script>

    <script type='text/template' id='menuTemplate'>
      <ul class="nav nav-pills nav-stacked">
        <li id='link1'><a href='#'><%=link1%></a></li>
        <li id='link2'><a href='#'><%=link2%></a></li>
        <li id='link3'><a href='#'><%=link3%></a></li>
        <li id='link4'><a href='#'><%=link4%></a></li>
      </ul>
    </script>
    <script type='text/template' id='gitTemplate'>
        <ul class='aRepo' id='repo_<%=id%>'>
          <li class='repoName'><%=name%></li>
          <li class='repoDescription'><%=description%></li>
          <% if (obj.language === "C++") { %>
            <a class='btn btn-danger' href='<%=html_url%>'>View Details</a>
          <% } else if (obj.language === "JavaScript") { %>
            <a class='btn btn-primary' href='<%=html_url%>'>View Details</a>
          <% } else if (obj.language === "Objective-C") { %>
            <a class='btn btn-inverse' href='<%=html_url%>'>View Details</a>
          <% } else if (obj.language === "Python") { %>
            <a class='btn btn-success' href='<%=html_url%>'>View Details</a>
          <% } else {%>
            <a class='btn btn-warning' href='<%=html_url%>'>View Details</a>
          <% } %>
        </ul>
        <hr>
    </script>
    <script type='text/javascript' src='js/models/GitModel.js'></script>
    <script type='text/javascript' src='js/collections.js'></script>
    <script type='text/javascript' src='js/models/Menu.js'></script>
    <script type='text/javascript' src='js/models/Portfolio.js'></script>
    <script type='text/javascript' src='js/views/aboutmeView.js'></script>
    <script type='text/javascript' src='js/views/menuView.js'></script>
    <script type='text/javascript' src='js/views/gitView.js'></script>
    <script type='text/javascript' src='js/events.js'></script>
  </body>
</html>
